$black:#000000;
$white:#FFFFFF;


$blue-light:#ECF7F9;
$blue:#03F2F1;

$blue-dark:#0B2754;

$green:#13E000;
$purple:#8C1AF6;
$pink:#FF6CB1;
$yellow:#F7E43D;

$green-light:lighten($green,10%);
$purple-light:lighten($purple,10%);
$pink-light:lighten($pink,10%);
$yellow-light:lighten($yellow,10%);