html, body {

	background-color:var(--bg);
	
}
html {
  //scroll-behavior: smooth;
}

body {
	
	&.no-scroll {
		overflow:hidden;
	}
	&.no-scroll-fix {
		overflow:hidden;
		@include breakpoint-less-than(lg) {
			position:fixed;
		}
	}
	&.overlay-open {
		overflow:hidden;
	}
	&.menu-is-open {
		@include breakpoint-less-than(lg) {
			overflow: hidden;
		}
	}
}
