:root {
	--baseline: 1.5rem;
	@include line-height(1);

}

body, html {
	@include line-height(1);
	font-family:$body-font-family;
}

* {
	
}
// body {
//     position:relative;
// }
// body::after {
//     display:block;
//     width:100%;
//     height:100%;
//     position:absolute;
//     content:"";
//     top:0;
//     left:0;
//     z-index: 500;
//     background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent calc(var(--baseline) - 1px), red calc(var(--baseline) - 1px), red var(--baseline));
//     pointer-events: none;
//     opacity:0.3;
// }
// body:hover:after {
//    // display:none;
// }



html {
	font-size:16px;
	@include breakpoint(md) {
		font-size:17px;
	}
}

::selection {
  background: black;
  color:#FFFFFF;
}

body {
	font-weight:400;
}

* {
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

p, ul {
	margin-bottom:vr(1);
	&.small, small {
		font-size:0.8rem;
	}
	&.big, big {
	}
	&.tiny, .tiny, &.caveat, .caveat {
		font-size:0.75rem;
		@include breakpoint(lg) {
			font-size:0.66rem;
		}
	}
	&.alert {
	
	}
	.dropcap {
		
		
	}
	a[target="_blank"]::after {
		display:inline;
		height:24px;
		width:24px;
		content:"";
		vertical-align:middle;
		background-image:url('~/assets/images/other/ext-link-blue.png');
		background-size:24px;
		background-repeat:no-repeat;
		background-position:center;
		position:relative;
		margin-left:2px;
		top:-1px;
	}
	&.small a[href*='//']::after {
		//background-size:12px;
	}
	&.large {
		//font-size:18px;
	}
}


strong {
	font-weight:bolder;
}

em {
	font-style:italic;
}



p, ul, ol, h1, h2, h3, h4, h5, h6 {
	a:link, a:visited {
		&:hover {
			
		}
	}
}

h1,h2,h3,h4,h5, .h1,.h2,.h3,.h4,.h5 {
	font-family:$title-font-family;
}

h5, .h5 {
	font-size:1rem;
	margin-bottom:vr(1);
	@include breakpoint(xl) {
		font-size:0.8rem;
	}
}

h4, .h4 {
	font-size:1rem;

	&.tag {
		margin-bottom:vr(1);
		border-radius:$radius-md;
		padding:0 1em;
		background-color:var(--bg);
		display:inline-block;
	}
}

h3, .h3 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size:1.8rem;
	@include line-height(1.5);
	@include breakpoint(lg) {
		
	}
}


h2:not(.h1), .h2 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size:2.4rem;
	@include line-height(2);
	@include breakpoint(md) {
		font-size:2.5rem;
		@include line-height(2);
		
	}
	@include breakpoint(xl) {
		
	}
}


h1:not(.h4), .h1 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size: 2.5rem;
	@include line-height(2);
	@include breakpoint(md) {
		font-size: 3rem;
		@include line-height(2.5);
	}
	@include breakpoint(xxl) {
		font-size: 3.8rem;
		@include line-height(3);
	}
	@include breakpoint(xl) {
		
	}
}


sub, sup {
	vertical-align: super;
  	position: relative;
  	font-size: 0.5em;
  	line-height:0;
}

sub {
	vertical-align: sub;
}





ol,ul {
	list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: list;
  margin-bottom:vr(1);
  display:block;
  li {
    padding-left:vr(1.25);
    line-height:vr(1);
    position:relative;
    counter-increment: list;
    margin-bottom:vr(0.5);
    &::before {
      position:absolute;
      transform: rotate3d(0,0,0,0);
      height:vr(1);
      width:vr(1);
      left:0;
      top:0;
      content:"";
      color:$pink;
      color:var(--accent);
    }
	  &.footnotes {
	  	li::before {
	  		color:var(--primary);
	  	}
	  }
	}
	&.inline {
		display:flex;
		flex-wrap:wrap;
		li {
			flex:0 0 auto;
			display:inline-block;
			margin-right:vr(1);
		}
	}
}
	
ol li {
	 
  &::before {
    content:counter(list)' ';
    letter-spacing: 0.2em;
    font-weight:600;
  }
}

  
ul li {
  &::before {
    content:'• ';
    letter-spacing: 0.2em;
    font-weight:600;
  }
}


.block {
	display:block;
}

.feature-text, ul.features {
  li {
  	
  	transform:translate3d(0,0,0);
  	position:relative;
    &::before {
    	transform:translate3d(0,0,0);
      background-size:1rem;
      background-repeat:no-repeat;
      background-position:center;
      background-color:var(--secondary);
      display:inline-block;
      content:'';
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24'%3E%3Cg stroke-linecap='square' stroke-width='2' fill='none' stroke='black' stroke-linejoin='miter' class='nc-icon-wrapper' stroke-miterlimit='10'%3E%3Cpolyline points='6,12 10,16 18,8 '%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
    }
    &::after {
    	display:block;
    	clear:both;
    	content:" ";
    }
  }
}

.primary-color {
	color:var(--primary);
}

.secondary-color {
	color:var(--secondary);
}


