:root {
	--baseline: 1.5rem;
	@include line-height(1);

}

body, html {
	@include line-height(1);
	
}


html {
	font-size:16px;
	@include breakpoint(lg) {
		font-size:18px;
	}
	
	// @include breakpoint(xxl) {
	// 	font-size: 1.333vw;
	// }
}

::selection {

  
}

body {
	font-weight:400;
	font-family:$body-font-family;
	color:var(--contrast);
}

.app {
	
}

* {
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
}

h1, .h1 {
	text-wrap: balance;
}

p, ul, h2, h3, h4, h5, .h2, .h3, .h4, .h5 {
	text-wrap:pretty;
}

p, ul {
	margin-bottom:vr(1);
	&.small, small, .small {
		font-size:0.9rem;
	}
	&.big, big {
	}
	&.tiny, .tiny, &.caveat, .caveat {
		font-size:0.75rem;
		@include breakpoint(lg) {
			font-size:0.66rem;
		}
	}
	&.alert {
	
	}
	.dropcap {
		
		
	}

}

.small, small {
	font-size:0.9rem;
}


strong {
	font-weight:bolder;
}

em {
	font-style:italic;
}



p, ul, ol, h1, h2, h3, h4, h5, h6 {
	a:link, a:visited {
		@include link();
	}
}


h1, .h1, h2, .h2, h3,.h3, h4,.h4 {
	font-family:$title-font-family;
}


h5, .h5 {
	font-size:1rem;
	margin-bottom:vr(1);
	font-weight:400;
	@include breakpoint(lg) {
		font-size:0.8rem;
	}
}

h4, .h4 {
	font-size:1rem;
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-weight:600;
	text-transform:uppercase;
	
}

h3:not(.h4):not(.h2):not(.h1):not(.raw), .subtitle, .h3 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(0.5);
	font-size:1.5rem;
	font-weight:400;
	@include line-height(1.25);
	@include breakpoint(lg) {
		
	}
}
.subtitle {
	margin-bottom:vr(1);
}

h2:not(.h4):not(.h1):not(.h3):not(.raw):not(.subtitle), .h2 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(1);
	font-size:1.8rem;
	font-weight:700;
	color:var(--accent);
	@include line-height(1.5);
	@include breakpoint(xl) {
		
	}
}


h1:not(.h4):not(.h2):not(.h3):not(.raw), .h1 {
	font-variant-ligatures: discretionary-ligatures;
	margin-bottom:vr(0.5);
	font-size: 2.5rem;
	font-weight:600;
	color:var(--accent);
	@include line-height(2);
	// @include breakpoint(xxl) {
	// 	font-size: 3.7rem;
	// 	@include line-height(3);
	// }
	// & + .h2, & + h2, & + .h3, & + h3 {
	// 	margin-top:vr(-0.5);
	// }
}


sup {
	vertical-align: super;
	font-size:0.6em !important;
	margin-top:-0.4em;
}

.tag {
	color:var(--accent);
	letter-spacing: 0.025em;
	vertical-align: super;
	font-size:0.6em;
	margin-top:-0.4em;
	&--strong {
		 background-color: var(--accent);

		 padding:vr(0.25) vr(0.5);
		 line-height:vr(1);
		 font-size:0.8em;
		 color:var(--contrast);
		 font-weight:700;
	}
}


sub {
	vertical-align: sub;
}

.block {
	display:block;
}
